.mbt-metabox-tabs-wrapper *,
.mbt-metabox-tabs-wrapper *:before,
.mbt-metabox-tabs-wrapper *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.mbt-metabox-tabs-wrapper {
    background: #f9f9f9;
}

.mbt-metabox-tabs-wrapper.mbt-layout-vertical {
    background: #fff;
}

.mbt-metabox-tabs-wrapper .mbt-col-left {
    width: 120px;
    float: left;
}

.mbt-metabox-tabs-wrapper .mbt-col-right {
    float: left;
    background: #fff;
    min-height: 250px;
    width: calc(100% - 120px);
    border-left: 1px solid #eee;
}

.mbt-metabox-tabs-wrapper .mbt-metabox-form-table th.mbt-field-label {
    font-weight: 400;
    line-height: 1.2;
}

.mbt-metabox-tabs-wrapper .mbt-metabox-form-table th.mbt-field-label,
.mbt-metabox-tabs-wrapper .mbt-metabox-form-table td.mbt-field-control {
    font-size: 13px;
}

.mbt-metabox-tabs-wrapper .mbt-metabox-tabs,
.mbt-metabox-tabs-wrapper .mbt-metabox-tabs .mbt-metabox-tab {
    margin: 0;
}

.mbt-metabox-tabs-wrapper .mbt-row .mbt-metabox-tabs {
    background: #f9f9f9;
}
.mbt-metabox-tabs-wrapper .mbt-row .mbt-metabox-tabs .mbt-metabox-tab {
    display: inline-block;
}

.mbt-metabox-tabs-wrapper .mbt-metabox-tabs .mbt-metabox-tab.active {
    margin-right: -1px !important;
    position: relative;
}

.mbt-metabox-tabs-wrapper .mbt-metabox-tabs .mbt-metabox-tab a {
    color: #777;
    display: block;
    border-bottom: 1px solid #eee;
    outline: none;
    padding: 20px;
    text-decoration: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.mbt-metabox-tabs-wrapper .mbt-metabox-tabs .mbt-metabox-tab.active a {
    background: #fff;
    color: #000;
}
.mbt-metabox-tabs-wrapper .mbt-row .mbt-metabox-tabs .mbt-metabox-tab a {
    border: 0;
}

.mbt-metabox-tabs-wrapper .mbt-metabox-tabs-content {
    padding: 0 15px;
}
.mbt-metabox-tabs-wrapper .mbt-metabox-tab-content:not(.active) {
    display: none;
}
.mbt-metabox-tabs-wrapper .mbt-row .mbt-metabox-tabs-content {
    background: #fff;
}

.mbt-metabox-tabs-wrapper .mbt-metabox-section {
    margin-bottom: 25px;
}

.mbt-metabox-tabs-wrapper .mbt-metabox-section .mbt-metabox-section-title {
    padding: 20px 0 !important;
    margin-bottom: 10px !important;
    border-bottom: 1px solid #eee;
    font-weight: bold !important;
    text-transform: uppercase;
}

/* Fields */
.mbt-metabox-tabs-wrapper .mbt-field {
    font-size: 13px;
    vertical-align: top;
}

.mbt-metabox-tabs-wrapper .mbt-field .mbt-field-description {
    color: #888;
}

.mbt-metabox-tabs-wrapper .mbt-field .description {
    font-size: 13px;
}

/* textarea */
.mbt-metabox-tabs-wrapper .mbt-field textarea {
    min-width: 320px;
}

/* color picker */
.mbt-metabox-tabs-wrapper .mbt-field .wp-color-result {
    height: 24px;
}

/* uploader */
.mbt-metabox-tabs-wrapper .mbt-field .mbt-photo-field-wrapper {
    display: table;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-photo-field-wrapper .mbt-img-container.mbt-has-img {
    width: 80px;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-photo-field-wrapper .mbt-img-container.mbt-has-img img {
    max-height: 80px;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-photo-field-wrapper .mbt-img-container,
.mbt-metabox-tabs-wrapper .mbt-field .mbt-photo-field-wrapper .mbt-img-input {
    display: table-cell;
    vertical-align: middle;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-photo-field-wrapper .mbt-img-input .mbt-img-url {
    min-width: 230px;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-photo-field-wrapper .mbt-img-container.mbt-has-img + .mbt-img-input .mbt-img-url {
    display: block;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-photo-field-wrapper .mbt-img-input .mbt-img-action {
    display: inline-block;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-photo-field-wrapper .mbt-img-container.mbt-has-img + .mbt-img-input {
    padding-left: 10px;
}

/* posts */
.mbt-metabox-tabs-wrapper .mbt-field .mbt-suggest-field {
    position: relative;
    display: inline-block;
    width: 335px;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-suggest-field .mbt-suggest-placeholder {
    position: absolute;
    display: block;
    padding: 7px;
    color: #999;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-suggest-field.mbt-suggest-has-data .mbt-suggest-placeholder {
    display: none;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-suggest-field .mbt-suggest-select {
    border: 1px solid #ddd;
    border-radius: 3px;
    min-height: 30px;
    cursor: pointer;
    position: relative;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-suggest-field.mbt-suggest-field-active .mbt-suggest-select {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-color: transparent;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-suggest-field .mbt-suggest-select > span {
    background: #eee;
    padding: 3px 7px;
    padding-left: 0;
    display: inline-block;
    margin-left: 3px;
    margin-top: 2px;
    white-space: nowrap;
    overflow: hidden;
    clear: none;
    user-select: none;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-suggest-field .mbt-suggest-select > span span.mbt-selected-remove {
    padding: 2px 4px;
    font-weight: bold;
    font-size: 14px;
    user-select: none;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-suggest-field .mbt-suggest-select span:hover {
    background: #ddd;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-suggest-field ul.mbt-suggest-items {
    position: absolute;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    border: 1px solid #ddd;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 335px;
    max-height: 206px;
    overflow-y: auto;
    z-index: 9999;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-suggest-field.mbt-suggest-field-active ul.mbt-suggest-items {
    opacity: 1;
    visibility: visible;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-suggest-field li {
    padding: 0 10px;
    margin: 0;
    cursor: pointer;
    user-select: none;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-suggest-field li input.mbt-suggest-search-input {
    margin: 10px 0;
    width: 100%;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-suggest-field li.mbt-suggest-item:hover {
    background: #eee;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-suggest-field li.mbt-suggest-item label {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    padding: 8px 0;
    width: 100%;
    user-select: none;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-suggest-field li.mbt-suggest-item input {
    box-shadow: none !important;
}

/* group */
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group {
    border: 1px solid #eee;
    margin-bottom: 10px;
    padding: 10px;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-title {
    background: #f9f9f9;
    border-bottom: 1px solid #eee;
    margin: -10px;
    padding: 10px;
    cursor: pointer;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-title:after {
    content: "\f140";
    font-family: dashicons;
    float: right;
    font-size: 15px;
    color: #9c9c9c;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-title.open:after {
    content: "\f142";
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-title span.mbt-group-field-unsaved {
    display: none;
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    color: #999;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group.mbt-fields-group-new .mbt-fields-group-title span.mbt-group-field-unsaved {
    display: inline;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper a.disabled {
    pointer-events: none;
    cursor: default;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-footer {
    border-top: 1px solid #eee;
    margin-top: 10px;
    padding: 20px 0;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-footer .mbt-fields-group-order {
    float: left;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-footer .button span.dashicons {
    line-height: 1.2;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-footer .mbt-fields-group-remove,
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-footer .mbt-fields-group-clone {
    text-align: right;
    float: right;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-footer .mbt-fields-group-remove {
    color: #bf3e34;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-footer div.mbt-fields-group-clone {
    margin-right: 5px;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-action {
    text-align: left;
    margin-top: 15px;
}

/* button field */
.mbt-metabox-tabs-wrapper .mbt-field[data-type="button"] .mbt-field-label label {
    display: none;
}
.mbt-metabox-tabs-wrapper .mbt-field[data-type="button"] .mbt-loader {
    display: none;
    line-height: 1.7;
    padding-left: 5px;
}
